/* 
    ==============================================

                ****** RESET ******

    ==============================================
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333 !important;
}

/* 
    ==============================================

                ****** GLOBAL ******

    ==============================================
*/

/* grid classes */

.grid-3-columns {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-columns {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

/*  */

body {
  margin: 0 auto;
  font-family: sans-serif;
  color: black;
  font-size: 14px;
  width: 100%;
  max-width: 1440px;
  background-color: #f0f0f0;
}

/* Header */

header .mobile-nav {
  display: none;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header .header-top-nav {
  background-color: black;
  height: 30px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

header .header-bottom-nav {
  background-color: #fff;
  font-size: 18px;
  height: 48px;
  color: #aaa;
}

header .header-top-nav .top-left-items :first-child {
  color: white;
}

header .header-top-nav .top-left-items *:not(:first-child),
header .header-bottom-nav .bottom-left-items *:not(:first-child) {
  margin-left: 12px;
}

.bottom-left-items li a {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: small;
  color: gray;
}

.bottom-left-items li a:hover {
  color: #333;
}

header .header-top-nav .top-right-items *:not(:last-child) {
  margin-right: 12px;
}

header .header-bottom-nav .search-icon-wrapper {
  border-left: 1px solid #ccc;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

header nav ul {
  display: flex;
  text-align: center;
}

/* main part */

main {
  padding: 10px;
}

main section:not(.showcase) {
  max-width: 1192px;
  padding: 0 20px;
  margin: 80px auto;
}

/* 
    ==============================================

                ****** SHOWCASE ******

    ==============================================
*/

.showcase {
  margin-bottom: 110px;
  color: white;
  font-size: 14px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "showcase-main showcase-main showcase-item1"
    "showcase-main showcase-main showcase-item2";

height: 572px;
}

.showcase .showcase-main .showcase-main-bottom,
.showcase-item1 .showcase-item1-bottom,
.showcase-item2 .showcase-item2-bottom {
  display: flex;
}

.showcase-main .showcase-main-bottom li:not(:last-child),
.showcase-item1 .showcase-item1-bottom li:not(:last-child),
.showcase-item2 .showcase-item2-bottom li:not(:last-child) {
  margin-right: 10px;
}

.showcase .showcase-item1,
.showcase-item2 {
  padding: 60px 16px 20px;
}

.showcase .showcase-item1 h2,
.showcase-item2 h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 10px 0;
}

/* showcase main */

.showcase-main {
  grid-area: showcase-main;
  padding: 20px 16px;
  background: linear-gradient(
      337deg,
      rgba(0, 0, 0, 0.9) 30%,
      rgba(220, 20, 20, 0.6) 50%
    ),
    url(assets/images/showcase-images/Google-Nest-Netflix-796x417.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.showcase-main-top {
  display: flex;
  justify-content: space-between;
}

.showcase-main .showcase-logo img {
  width: 500px;
  margin-bottom: 100px;
}

.showcase-main h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: bold;
  max-width: 750px;
  margin: 10px 0;
}

/* showcase item 1 */

.showcase .showcase-item1,
.categories-article-header {
  grid-area: showcase-item1;
  background: linear-gradient(
      337deg,
      rgba(0, 0, 0, 0.9) 30%,
      rgba(17, 8, 8, 0.6) 50%
    ),
    url(assets/images/showcase-images/robinhoodkanye-796x448.jpg);
  background-size: cover;
}

/* showcase item 2 */

.showcase .showcase-item2 {
  grid-area: showcase-item2;
  background: linear-gradient(
      337deg,
      rgba(0, 0, 0, 0.9) 30%,
      rgba(17, 8, 8, 0.6) 50%
    ),
    url(assets/images/showcase-images/slack-ram-memory-faster-performance-desktop-796x450.jpg);
  background-size: cover;
}

/* @media (max-width: 1100px) {} */

@media (max-width: 1024px) {
  header {
    margin-left: 100px;
  }

  .showcase-main {
    background: linear-gradient(
        337deg,
        rgba(0, 0, 0, 0.9) 30%,
        rgba(17, 8, 8, 0.6) 50%
      ),
      url(assets/images/showcase-images/Google-Nest-Netflix-796x417.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .showcase-main-top {
    visibility: hidden;
  }

  .showcase-main-top .showcase-logo {
    position: absolute;
    visibility: visible;
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    top: 0;
    left: 0;
    width: 100px;
    height: 80px;
  }

  .showcase-main-top .showcase-logo img {
    height: 15px;
    margin-top: 30px;
    margin-left: 20px;
    width: auto;
    margin-bottom: 0;
  }
}

.showcase-main h1 {
  font-size: 40px;
  font-weight: bold;
  max-width: 750px;
  margin: 10px 0;
}

.showcase .showcase-item1 h2,
.showcase-item2 h2 {
  font-size: 18px;
}

@media (max-width: 1024px) {
  .grid-4-columns.lastest-funding-grid > article:nth-child(4) {
    display: none;
  }
}

@media (max-width: 768px) {
  header nav {
    display: none;
  }

  header {
    margin-left: 0;
    background-color: #fff;
  }

  .header-logo .showcase-logo {
    height: 100%;
  }

  header .mobile-nav {
    display: flex;
    justify-content: space-between;
    height: 48px;
  }

  .header-menu-icon i {
    padding: 16px;
    border-left: 1px solid #eeeeee;
  }

  .header-menu-icon i:first-of-type {
    color: lightgray;
  }

  .header-menu-icon i:last-of-type {
    color: #f42;
  }

  header .mobile-nav .header-logo {
    height: 100%;
    display: flex;
    align-items: center;
  }

  header .mobile-nav .header-logo img {
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    padding: 16px 20px;
    font-size: 12px;
    height: 100%;
  }

  .showcase-main-top .showcase-logo {
    display: none;
  }

  .showcase {
    grid-template-columns: 1fr;
    grid-template-areas:
      "showcase-main"
      "showcase-item1"
      "showcase-item2";
  }
}

/* 
    ==============================================

                ****** LATEST NEWS ******

    ==============================================
*/

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.section-header a {
  color: #f42;
  font-size: 28px;
}

.section-header img {
  margin-left: 10px;
  width: 15px;
}

.latest-news article * {
  margin-bottom: 10px;
}

.latest-news h3 {
  font-size: 16px;
  color: black;
}

.latest-news p a,
span {
  color: #aaa;
  font-size: 13px;
}

.latest-news article img {
  width: 100%;
  height: 135px;
}

@media (max-width: 1024px) {
  .grid-4-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .latest-news .grid-4-columns {
    grid-template-columns: 1fr;
  }

  .latest-news .grid-4-columns article figure {
    display: flex;
  }

  .latest-news .grid-4-columns article img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
  }
}

/* 
    ==============================================

                ****** LATEST FUND  ******

    ==============================================
*/

.lastest-funding-grid {
  grid-template-columns: repeat(auto-fit, minmax(228.5px, 1fr));
}

.article-top {
  position: relative;
}

.article-details {
  background-color: #ff442214;
}

.article-details,
.article-top > h4 {
  padding: 10px 16px 10px 84px;
}

.article-top > h4 {
  background-color: #f42;
  color: #fff;
}

.article-details h4 {
  font-weight: bolder;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: large;
}

.article-details h5 {
  font-weight: lighter;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000;
}

.company-logo {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: white;
  left: 10px;
  top: 10px;
}

.company-logo img {
  height: 100%;
}

.article-middle,
.article-bottom {
  padding: 25px;
  background-color: #fffaf9 !important;
  border-bottom: 2px solid #ffcec6;
}

.article-middle a,
.article-bottom a {
  color: #696767;
  font-weight: lighter;
}

.article-middle p {
  margin-bottom: 10px;
}

.article-bottom {
  border-bottom: none;
}

.article-middle p i {
  margin-right: 10px;
}

@media (min-width: 1024px) {
  .latest-funding-rounds-hader-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .latest-funding-rounds-hader-wrapper ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .latest-funding-rounds-hader-wrapper ul li a {
    color: #f42;
    padding-right: 15px;
    font-weight: 600;
  }

  .latest-funding-rounds-hader-wrapper ul li:not(:first-of-type) {
    padding: 0 15px;
    border-left: 1px solid #f42;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .latest-funding-rounds-hader-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .latest-funding-rounds-hader-wrapper ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
  }

  .latest-funding-rounds-hader-wrapper ul li a {
    color: #f42;
    padding-right: 15px;
    font-weight: 600;
  }

  .latest-funding-rounds-hader-wrapper ul li:not(:first-of-type) {
    padding: 0 15px;
    border-left: 1px solid #f42;
  }
}

@media (max-width: 768px) {
  .latest-funding-rounds-hader-wrapper {
    display: block;
  }

  .latest-funding-rounds-hader-wrapper ul {
    display: block;
  }

  .latest-funding-rounds-hader-wrapper ul li {
    border: none !important;
    margin: 15px 0;
    padding: 0 !important;
  }

  .latest-funding-rounds-hader-wrapper ul li a {
    font-weight: lighter !important;
    color: #f42;
  }
}

/* 
    ==============================================

                ****** CATEGORIES  ******

    ==============================================
*/

.categories-article {
}

.categories-article-header {
  padding: 172px 10px 10px 10px;
}

.categories-article-header h2 {
  font-size: 18px;
  color: white;
  margin: 10px 0;
}

.categories-article-header p a {
  color: #ccc;
}

.categories-article-middle {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 68, 34, 0.06);
  align-items: center;
}

.categories-article-middle div:first-child {
  padding: 0 15px;
}

.categories-article-middle .categories-article-image-wrapper {
  min-width: 96px;
  height: 96px;
  width: 96px;
}

.categories-article-middle .categories-article-image-wrapper img {
  width: 100%;
  /* height: 100%; */
}

.categories-article-middle-description * {
  color: #f42;
}

.categories-article-middle-description h5 {
  font-weight: lighter;
  font-size: larger;
}

.categories-article-middle-description a {
  font-weight: bolder;
}

.categroies-article-bottom li::before {
  content: "• ";
  color: red; /* or whatever color you prefer */
  margin-right: 5px;
}

.categroies-article-bottom li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
}
.categroies-article-bottom li a {
  color: #5a5a5a;
  line-height: 20px;
}

section:nth-child(5) article  figure  a img {
    height: auto;
}

@media  (max-width: 1024px) {

    .grid-3-columns.categories-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 768px) {
    
    .grid-3-columns.categories-grid {
        grid-template-columns: repeat(1, 1fr);
    }

}


/* 
    ==============================================

                ****** FOOTER  ******

    ==============================================
*/



footer .footer-top{
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .footer-top *{
    margin-bottom: 20px;
}

footer .footer-bottom{
    background-color: #000;
}