/* 
    ==============================================

                ****** RESET ******

    ==============================================
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* 
    ==============================================

                ****** GLOBAL ******

    ==============================================
*/

body {
    margin: 0 auto;
    font-family: sans-serif;
    color: black;
    font-size: 14px;
    width: 100%;
    max-width: 1440px;
    background-color: #f0f0f0;
}


/* Header */

header .mobile-nav{
    display: none;
}


header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .header-top-nav {
    background-color: black;
    height: 30px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

header .header-bottom-nav {
    background-color: #fff;
    font-size: 18px;
    height: 48px;
    color: #aaa;
}

header .header-top-nav .top-left-items :first-child {
    color: white;
}


header .header-top-nav .top-left-items *:not(:first-child),
header .header-bottom-nav .bottom-left-items *:not(:first-child) {
    margin-left: 12px;
}

header .header-top-nav .top-right-items *:not(:last-child) {
    margin-right: 12px;
}

header .header-bottom-nav .search-icon-wrapper {
    border-left: 1px solid #ccc;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;

}

header nav ul {
    display: flex;
    text-align: center;
}

/* main part */

main {
    padding: 10px;
}

/* 
    ==============================================

                ****** SHOWCASE ******

    ==============================================
*/

.showcase {
    color: white;
    font-size: 14px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "showcase-main showcase-main showcase-item1"
        "showcase-main showcase-main showcase-item2";
}

.showcase .showcase-main .showcase-main-bottom,
.showcase-item1 .showcase-item1-bottom,
.showcase-item2 .showcase-item2-bottom {
    display: flex;
}

.showcase-main .showcase-main-bottom li:not(:last-child),
.showcase-item1 .showcase-item1-bottom li:not(:last-child),
.showcase-item2 .showcase-item2-bottom li:not(:last-child) {
    margin-right: 10px;
}

.showcase .showcase-item1,
.showcase-item2 {
    padding: 60px 16px 20px;
}

.showcase .showcase-item1 h2,
.showcase-item2 h2 {
    font-size: 26px;
    font-weight: 700;
    margin: 10px 0;
}

/* showcase main */

.showcase-main {
    grid-area: showcase-main;
    padding: 20px 16px;
    background: linear-gradient(337deg, rgba(0, 0, 0, 0.9) 30%,
            rgba(220, 20, 20, 0.6) 50%), url(assets/images/showcase-images/Google-Nest-Netflix-796x417.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.showcase-main-top {
    display: flex;
    justify-content: space-between;
}

.showcase-main .showcase-logo img {
    width: 500px;
    margin-bottom: 100px;
}

.showcase-main h1 {
    font-size: 48px;
    line-height: 1;
    font-weight: bold;
    max-width: 750px;
    margin: 10px 0;
}

/* showcase item 1 */

.showcase .showcase-item1 {
    grid-area: showcase-item1;
    background: linear-gradient(337deg, rgba(0, 0, 0, 0.9) 30%,
            rgba(17, 8, 8, 0.6) 50%), url(assets/images/showcase-images/robinhoodkanye-796x448.jpg);
    background-size: cover;
}

/* showcase item 2 */

.showcase .showcase-item2 {
    grid-area: showcase-item2;
    background: linear-gradient(337deg, rgba(0, 0, 0, 0.9) 30%,
            rgba(17, 8, 8, 0.6) 50%), url(assets/images/showcase-images/slack-ram-memory-faster-performance-desktop-796x450.jpg);
    background-size: cover;
}


/* @media (max-width: 1100px) {} */

@media(max-width: 1170px) {

    
    header{
        margin-left: 100px;
    }

    .showcase-main {
        background: linear-gradient(337deg, rgba(0, 0, 0, 0.9) 30%,
                rgba(17, 8, 8, 0.6) 50%), url(assets/images/showcase-images/Google-Nest-Netflix-796x417.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .showcase-main-top {
        visibility: hidden;
    }

    .showcase-main-top .showcase-logo{
        position: absolute;
        visibility: visible;
        background: linear-gradient(to bottom right,#c09,#f42 85%);
        top: 0;
        left: 10px;
        width: 100px;
        height: 80px;
    }
    .showcase-main-top .showcase-logo img{
        width: 100%;
        height: 100%;
    }

    .showcase-main h1 {
        font-size: 40px;
        font-weight: bold;
        max-width: 750px;
        margin: 10px 0;
    }

    .showcase .showcase-item1 h2,
    .showcase-item2 h2 {
        font-size: 18px;
    }
}

@media(max-width: 860px) {


    header nav{
        display: none;
    }
    header .mobile-nav{
        display: flex;
        justify-content: space-between;
        height: 48px;
    }  

    header .mobile-nav .header-logo {
        height: 100%;
        display: flex;
        align-items: center;
    }

    header .mobile-nav .header-logo img{
        background: linear-gradient(to bottom right,#c09,#f42 85%);
        padding: 16px 20px;
        font-size: 12px;
        height: 100%;
    }

    .showcase-main-top .showcase-logo{
        display: none;   
    }
   
    .showcase {
        grid-template-columns: 1fr;
        grid-template-areas:
            "showcase-main"
            "showcase-item1"
            "showcase-item2";
    }

}